In [1]:
print("Hello, world!")

Hello, world!

In [2]:
import math
print(math.pi)

3.141592653589793

In [3]:
x = 1
print(x)

1

In [4]:
y = "test"
print(y)
x = 1
x = "string"
print(x)
x = 1
print(type(x))
x = "string"
print(type(x))
x = 0.1
print(type(x))

test
string
<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
x

0.1

In [7]:
str1 = "Hello, "
str2 = "World!"
str3 = str1 + str2
str3

'Hello, World!'

In [8]:
print(str3)

Hello, World!

In [ ]:
x = 17
y = 39
name = "chihoon"

str1 = f"{name}'s numbers are {x} and {y}, and their sum is {x+y}"
str1

"chihoon's numbers are 17 and 39, and their sum is 56"

In [9]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

a: string
b: 1.000000, hello, 5
c: 3.14

In [10]:
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

Hello, World!
HELLO, WORLD!
hello, world!

In [11]:
# 도움말 출력
str1.replace?

In [12]:
str1.replace('l','p')

'Heppo, Worpd!'

In [13]:
x = 2
y = 1
z = 2
if x == y:
  print("Hello")
elif x == z:
  print("Goodbye")
else:
  print("???")

Goodbye

In [14]:
print("loop 1")
for i in range(5):
  print(i)

print("loop 2")
for i in range(10, 2, -2):
  print(i)

loop 1
0
1
2
3
4
loop 2
10
8
6
4

In [15]:
i = 1
while i < 100:
  print(i**2)
  i += i**2

1
4
36
1764

In [16]:
for num in range(2, 10):
  if num % 2 == 0:
      continue
  print(f"Found {num}, an odd number")

Found 3, an odd number
Found 5, an odd number
Found 7, an odd number
Found 9, an odd number

In [18]:
n = 80
for x in range(2, n):
  if n % x == 0:
    print(f'{n} equlas {x} * {n // x}')

80 equlas 2 * 40
80 equlas 4 * 20
80 equlas 5 * 16
80 equlas 8 * 10
80 equlas 10 * 8
80 equlas 16 * 5
80 equlas 20 * 4
80 equlas 40 * 2

In [19]:
if False:
  pass
else:
  print("True")

True

In [20]:
# 0으로 나눌 경우 exceptions 발생
100 / 0

ZeroDivisionError: division by zero

In [21]:
try:
  x = 100/0
except ZeroDivisionError:
  print("We divided by zero")

We divided by zero

In [22]:
def triangle_area(base, height):
  return 0.5 * base * height

triangle_area(1, 2)

1.0

In [23]:
# base, height 값이 음수일 경우 오류 출력
def triangle_area(base, height):
  if base < 0 or height < 0:
      raise ValueError("Base and height must be non-negative")
  return 0.5 * base * height

triangle_area(-1, 2)

ValueError: Base and height must be non-negative

In [24]:
def f(x):
  return x+2

def twice(f, x):
  return f(f(x))

twice(f, 2)

6

In [25]:
def n_apply(f, x, n):
  for _ in range(n):
    x = f(x)
  return x

n_apply(f, 1, 5)

11

In [26]:
def g(a, x, b=0):
  return a * x + b

In [27]:
g(2, 5, 1)

11

In [28]:
# 3번째 parameter가 함수에 지정 되있으므로 오류 발생하지 않음
g(2, 5)

10

In [29]:
a = ['x', 1, 3.5]
print(a)

['x', 1, 3.5]

In [30]:
for elt in ["step1", "step2"]:
  print(elt)

step1
step2

In [31]:
a.remove?

In [32]:
a = [];
for i in range(10):
  a.append(i**2)

In [33]:
while len(a) > 0:
  elt = a.pop()
  print(elt)

81
64
49
36
25
16
9
4
1
0

In [34]:
a

[]

In [35]:
S = [math.sqrt(x) for x in range(20) if x % 3 == 0]
S

[0.0,
 1.7320508075688772,
 2.449489742783178,
 3.0,
 3.4641016151377544,
 3.872983346207417,
 4.242640687119285]

In [36]:
S = []
for i in range(2):
  for  j in range(2):
    for k in range(2):
      S += [(i,j,k)]
S

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [37]:
S = [(i,j,k) for i in range(2) for j in range(2) for k in range(2)]
S

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [ ]:
# format은 아래와 같은 식으로
# S = [<elt> <for statement> <conditional>]

In [39]:
# 튜플의 원소는 변경할 수 없으므로 오류 발생
a_tuple = (1, 2, 4)
a_tuple[0] = 3

TypeError: 'tuple' object does not support item assignment

In [40]:
# 파이썬의 set은 중복된 원소가 안됨
a_set = {5, 3, 2, 5}
a_set

{2, 3, 5}

In [41]:
a_dict = {}
a_dict[5] = 12
a_dict["key_2"] = 27
a_dict["key_3"] = [13, "value"]
a_dict

{5: 12, 'key_2': 27, 'key_3': [13, 'value']}

In [42]:
class Animal:
  def say_hi(self):
    print("Hello!")

In [43]:
x = Animal()
x.say_hi()

Hello!

In [44]:
class Rational:
  def __init__(self, p, q=1):
    if q == 0:
      raise ValueError("Denominator must not be zero")
    if not isinstance(p, int):
      raise ValueError("Numerator must be an integer")
    if not isinstance(q, int):
      raise ValueError("Denominator must be an integer")

    g = math.gcd(p, q)

    self.p = p // g
    self.q = q // g

  def __float__(self):
    return self.p / self.q
  def __str__(self):
    return f'{self.p}/{self.q}'
  def __repr__(self):
    return f"Rational({self.p}, {self.q})"

In [45]:
a = Rational(6, 4)
b = Rational(3, 2)

print(type(a))
print(f"a = {a}")
print(f"b = {b}")
print([a,b])
print(f"float(a) = {float(a)}")

<class '__main__.Rational'>
a = 3/2
b = 3/2
[Rational(3, 2), Rational(3, 2)]
float(a) = 1.5

In [46]:
# Rational class 내에 add가 없어 + 연산을 하지 못해 에러 발생
a + b

TypeError: unsupported operand type(s) for +: 'Rational' and 'Rational'